- range = 100..0
- (range.first).downto(range.last).each do |post|
  - begin file = File.read("#{settings.public_folder}/posts/#{post}.md") rescue file = nil end
  - unless file.nil?
    .main-content
      .topic-block-list.on-going.chat
        = markdown(file)
    %br/
