!!!
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title Rubyversity - Ruby 101
    %link{ :rel => "stylesheet", :href => "/assets/stylesheets/style.css", :type => "text/css", :media => "screen" }
    %link{ :rel => "stylesheet", :href => "/assets/stylesheets/960.css", :type => "text/css", :media => "screen" }
  %body
    .container_24
      = haml :sidebar

      .grid_16.omega
        .block
          = yield
