.grid_8.alpha
  .block.sidebar
    %h2
      =link_to '', "ClickingLabs Rubyversity", ""
    .topic-block-list.chat-topics-sidebar
      %br/
      %ul
        - assignments = { "1" => "Ruby Calisthenics" }
        - assignments.each do |k, v|
          %li=link_to "assignments/#{k}", v, ""
